/* HTML Elements */
body {
  font-family: "Montserrat";
  margin: 0;
  padding: 0;
}

h3 h2 {
  font-family: sans-serif;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.5;
}

/* General */
.cock {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
}

/* Navbar */
.navbar-brand {
  font-size: 2rem;
}

.navbar {
  margin-bottom: 2.5rem;
  padding-left: 0;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: lighter;
}

.container-fluid1 {
  padding: 3% 15% 7%;
}

/* Title Section */
#title {
  background-color: #ff4c68;
  color: #fff;
}

.img {
  width: 50%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

.btn {
  margin: 5% 3% 5% 0;
}

/* Feature Section */
#features {
  background-color: #fff;
  position: relative;
  text-align: center;
  padding: 7% 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonials Section */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 7% 10%;
  height: 700px;
}

/* Press Section */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing section */
#pricing {
  padding: 100px;
  text-align: center;
}

.gork {
  padding: 3% 2%;
}

/* CTA Section */
#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 100px;
}

.feta {
  text-align: center;
  padding-bottom: 100px;
  padding-top: 100px;
}

.fa-twitter {
  margin: 10px;
  color: #000;
}

.fa-facebook {
  margin: 10px;
  color: #000;
}

.fa-youtube {
  margin: 10px;
  color: #000;
}

.fa-instagram {
  margin: 10px;
  color: #000;
}

.fa-patreon {
  margin: 10px;
  color: #000;
}

@media (max-width: 1000px) {
  .img {
    position: static;
    transform: rotate(0)
  }

  .ass {
    margin-top: 40px;
  }

  #title {
    text-align: center;
  }
}
